<html>

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<!-- Load c3.css -->
<link href="js_libs/c3-0.7.8/c3.min.css" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="js_libs/d3/d3.min.js"></script>
<script src="js_libs/c3-0.7.8/c3.min.js"></script>
<script src="js_libs/jquery-3.4.1.min.js"></script>

<!-- load JSONPath -->
<script src="js_libs/JSONPath-1.1.0/dist/index-umd.js"></script>

<style>
body {
//  background-color: linen;
}

.c3-line {
  display: none;
}

#container {
//  background-color:green;
  height: 250%;
  width: 100%;
}

#menu {
//  background-color:blue;
  border: 2.5px solid blue;
  border-radius: 10px/10px;
  height: 100%;
  width: 24%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: left;
}

#content {
//  background-color:gray;
  height: 100%;
  width: 65%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: right;
}

#traces {
//  background-color:yellow;
  border: 2.5px solid blue;
  border-radius: 10px/10px;
  height: 100%;
  width: 45%;
  float: left;
}

#charts {
//  background-color:red;
  border: 2.5px solid blue;
  border-radius: 10px/10px;
  height: 100%;
  width: 45%;
  float: right;
}

.menuitem {
//  background-color:pink;
  background-color:linen;
  border: 1px solid blue;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.level0 {
  margin-left:0px;
}

.level1 {
  margin-left:20px;
}

.level2 {
  margin-left:40px;
}

.level3 {
  margin-left:60px;
}

.level4 {
  margin-left:80px;
}

.level5 {
  margin-left:100px;
}

.level6 {
  margin-left:120px;
}

.chart {
//  background-color:pink;
  background-color:linen;
  border: 1px solid blue;
  border-radius: 5px;
  height: 5%;
  //width: 45%;
  width: 90%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.chart.left {
  float: left;
  background-color:linen;
}

.chart.right {
//  float: right;
  float: left;
  background-color: LightGray;
}

.textelement {
  word-wrap: break-word;
}

</style>

</head>

<script>

function createChart(sendDataJson, iframeId) {
  sendDataObject = JSON.parse(sendDataJson);
  document.getElementById(`${iframeId}`).contentWindow.postMessage(sendDataObject,'https://centurio.work');
  console.log("function createChart completed");
}

function updateChart(sendDataJson, iframeId) {
  sendDataObject = JSON.parse(sendDataJson);
  document.getElementById(`${iframeId}`).contentWindow.postMessage(sendDataObject,'https://centurio.work');
  console.log("function updateChart completed");
}

function clearCharts() {
  d3.select("#charts").selectAll("div").remove();
  d3.select("#charts").selectAll("iframe").remove();
}

function clearTraces() {
  d3.select("#traces").selectAll("div").remove();
}

function drawDataPoints(traceUuid, charts, dataPoints, dataPointsLastDrawnIndex, graphData) {

  var charts=[];
  var dataPoints=[];
  var dataPointsLastDrawnIndex=[];
  var graphData={};
  var sensors=[];

  //lastAggregators=null;
  //lastCosts=null;

  var webSockets=[];
  var toSendList={};

  //var source = new EventSource(`http://localhost/dash/traces/${traceUuid}/pubsub`);
  var source = new EventSource(`https://centurio.work/dash/traces/${traceUuid}/pubsub`);
  //var source = new EventSource(`http://localhost/dash/traces/${traceUuid}/SSEWithSub`);
  //var source = new EventSource(`https://centurio.work/dash/traces/${traceUuid}/pubsub`);
  //for easy starting of replay uncomment one of the lines below - Firefox
  //$.get(`http://localhost/dash/traces/${traceUuid}/pubsubWithSub`);
  //$.get(`https://centurio.work/dash/traces/${traceUuid}/pubsubWithSub`);
  //$.get(`http://localhost/dash/traces/${traceUuid}/pubsub`);
  source.onopen = function() { //{{{
    console.log(`eventsource with url ${source.url} opened - listening`);
    //for easy starting of replay uncomment one of the lines below - Chrome
    //$.get(`http://localhost/dash/traces/${traceUuid}/pubsubWithSub`);
    $.get(`https://centurio.work/dash/traces/${traceUuid}/pubsubWithSub`);
    //$.get(`http://localhost/dash/traces/${traceUuid}/pubsub`);
  } //}}}
  source.onerror = function() { //{{{
    console.log(`eventsource with url ${source.url} failed - closing connection`);
    source.close();
  } //}}}

  source.onmessage = function(event) {
    //{{{
    console.log(event);
    //collect data
    eventObject=JSON.parse(event.data);
    if(typeof eventObject.event !== 'undefined') {
      eventObject=eventObject.event
    }
    var eventTimeStamp=eventObject['time:timestamp'].slice(0,-6);
    //if the event timestamp does not have the right length slice it to the correct length and hope for the best
    if(eventTimeStamp.length!==23) {
      eventTimeStamp=eventTimeStamp.slice(0,23);
    }
    //eventData=JSON.parse(eventObject.data);
    //for newer batches
    eventData=eventObject.data;
    //for older batches
    //eventData=eventObject.list;
    
    /*if(sensors[eventObject['cpee:uuid']]!==undefined) {
      // sensors for trace uuid were already created - do nothing
    }
    else {
      sensors[eventObject['cpee:uuid']]=[];
    }
    if(sensors[eventObject['cpee:uuid']][eventObject['id:id']]!==undefined) {
      // sensors for trace uuid and event id were already created - do nothing
    }
    else {
      sensors[eventObject['cpee:uuid']][eventObject['id:id']]=[];
    }*/
    //check if sensors available - if yes set them, if no do nothing
    if(typeof eventObject.sensors !== 'undefined' && eventObject.sensors !== null) {
      eventsensors=eventObject.sensors;
      //sensors[eventObject['cpee:uuid']][eventObject['id:id']]=eventsensors;
      sensors=eventsensors;
    }
    else {
      sensors=[];
    }
    if(typeof eventObject.aggregators !== 'undefined' && eventObject.aggregators !== null) {
      lastAggregators=eventObject.aggregators;
    }
    /*else {
      aggregators=[];
    }*/
    if(typeof eventObject.costs !== 'undefined' && eventObject.costs !== null) {
      lastCosts=eventObject.costs;
    }
    /*else {
      costs=[];
    }*/
    /*console.log("aggregators", aggregators);
    console.log("costs", costs);
    console.log("sensorsInObject", eventObject.sensors);
    console.log("aggregatorsInObject", eventObject.aggregators);
    console.log("costsInObject", eventObject.costs);
    console.log("eventObject", eventObject);*/
    //if(eventObject['concept:name']==="Fetch") {
    if(false) {
      sensors=[
        //{"sensor": {"name":"aaLoad_X","extractor_arg": "{\"nav\":\"$.[?(@.name=='Axis/X/aaLoad')].value\", \"timestamp\":\"$.[?(@.name=='Axis/X/aaLoad')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeLineChart.html"}},
        {"sensor": {"name":"aaLoad_X","extractor_arg": "{\"nav\":\"$.[?(@.name=='Axis/X/aaLoad')].value\", \"timestamp\":\"$.[?(@.name=='Axis/X/aaLoad')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},
        {"sensor": {"name":"aaLoad_Y","extractor_arg": "{\"nav\":\"$.[?(@.name=='Axis/Y/aaLoad')].value\", \"timestamp\":\"$.[?(@.name=='Axis/Y/aaLoad')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},

        {"sensor": {"name":"Keyence Measurement","extractor_arg": "{\"nav\":\"$.[?(@.name=='measurement')].value\",\"timestamp\":\"$.[?(@.name=='measurement')].timestamp\",\"exceptions\":[999.99]}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},
/*
        {"sensor": {"name":"Keyence Measurement 1","extractor_arg": "{\"nav\":\"$.[?(@.name=='measurement')].value\",\"timestamp\":\"$.[?(@.name=='measurement')].timestamp\",\"exceptions\":[999.99]}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},
        {"sensor": {"name":"Keyence Measurement 2","extractor_arg": "{\"nav\":\"$.[?(@.name=='measurement')].value\",\"timestamp\":\"$.[?(@.name=='measurement')].timestamp\",\"exceptions\":[999.99]}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},
        {"sensor": {"name":"Keyence Measurement 3","extractor_arg": "{\"nav\":\"$.[?(@.name=='measurement')].value\",\"timestamp\":\"$.[?(@.name=='measurement')].timestamp\",\"exceptions\":[999.99]}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},
        {"sensor": {"name":"Keyence Measurement 4","extractor_arg": "{\"nav\":\"$.[?(@.name=='measurement')].value\",\"timestamp\":\"$.[?(@.name=='measurement')].timestamp\",\"exceptions\":[999.99]}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},
        {"sensor": {"name":"Keyence Measurement 4_1","extractor_arg": "{\"nav\":\"$.[?(@.name=='measurement')].value\",\"timestamp\":\"$.[?(@.name=='measurement')].timestamp\",\"exceptions\":[999.99]}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},
*/
/*
        {"sensor": {"name":"gesamt","extractor_arg": "{\"nav\":\"$.qc2_success\", \"timestamp\":\"$.[?(@.name=='qwer')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeInfo.html"}},
        {"sensor": {"name":"Zylinder Ø4,5-B Durchmesser Status","extractor_arg": "{\"nav\":\"$.results.['Zylinder Ø4,5-B'].['Durchmesser'].status\", \"timestamp\":\"$.[?(@.name=='qwer')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeInfo.html"}},
        {"sensor": {"name":"Zylinder Ø4,5-B Durchmesser","extractor_arg": "{\"nav\":\"$.results.['Zylinder Ø4,5-B'].['Durchmesser'].on_scale_from_zero_to_one\", \"timestamp\":\"$.[?(@.name=='qwer')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeInfo.html"}},
       {"sensor": {"name":"Zylinder Ø4,5-B Zylinderform Status","extractor_arg": "{\"nav\":\"$.results.['Zylinder Ø4,5-B'].['Zylinderform'].status\", \"timestamp\":\"$.[?(@.name=='qwer')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeInfo.html"}},
       {"sensor": {"name":"Zylinder Ø4,5-B Rechtwinkligkeit Status","extractor_arg": "{\"nav\":\"$.results.['Zylinder Ø4,5-B'].['Rechtwinkligkeit'].status\", \"timestamp\":\"$.[?(@.name=='qwer')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeInfo.html"}},
       {"sensor": {"name":"Zylinder Ø4,5-B Rechtwinkligkeit","extractor_arg": "{\"nav\":\"$.results.['Zylinder Ø4,5-B'].['Rechtwinkligkeit'].on_scale_from_zero_to_one\", \"timestamp\":\"$.[?(@.name=='qwer')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeInfo.html"}},
       {"sensor": {"name":"Kreis Ø19,2-1 Durchmesser Status","extractor_arg": "{\"nav\":\"$.results.['Kreis Ø19,2-1'].['Durchmesser'].status\", \"timestamp\":\"$.[?(@.name=='qwer')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeInfo.html"}},
       {"sensor": {"name":"Kreis Ø19,2-2 Durchmesser Status","extractor_arg": "{\"nav\":\"$.results.['Kreis Ø19,2-2'].['Durchmesser'].status\", \"timestamp\":\"$.[?(@.name=='qwer')].timestamp\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeInfo.html"}},
*/
        //{"sensor": {"name":"valuewithexceptions","extractor_arg": "{\"nav\":\"$.value\", \"exceptions\":[1,2]}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},
        //{"sensor": {"name":"value","extractor_arg": "{\"nav\":\"$.value\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},
        //{"sensor": {"name":"value2","extractor_arg": "{\"nav\":\"$.anothervalue\"}","extractor_url":"ws://localhost:12345/extractDataSingle", "visualizer_url":"iframeScatterPlot.html"}},
      ];
      eventsensors=sensors;
    }
    else {
      //do not replace
    }
    //}}}
    console.log(eventObject['cpee:lifecycle:transition']);
      console.log("prepare for choose", eventObject['concept:name']);
    if(eventObject['cpee:lifecycle:transition']!=="task/instantiation" && eventData!=null && ((eventData.data_receiver!=null && eventData.data_receiver[0].data!=null) || (eventData.data_values!=null && eventObject['concept:name'] === "Measure with MicroVu"))) {
      var dataForDrawing=null;
      if(eventData.data_receiver!=null && eventData.data_receiver[0].data!=null) {
        dataForDrawing=eventData.data_receiver[0].data;
      }
      else if(eventData.data_values!=null) {
        dataForDrawing=eventData.data_values;
      }

   
     
      sensors.forEach(function(sensorArrayElement) {
        console.log("sensorArrayElement: ", sensorArrayElement);
        console.log("dfd", dataForDrawing);
        console.log("dfd", JSON.stringify(dataForDrawing));

        //var request = new XMLHttpRequest();
        //var params=JSON.stringify({"sensors": sensors, "data": dataForDrawing});
        //var params=JSON.stringify({"traceUUID": eventObject['cpee:uuid'], "name": eventObject['concept:name'], "sensor": sensorArrayElement, "data": dataForDrawing});
        var params=JSON.stringify({"sensor": sensorArrayElement, "data": dataForDrawing, "timestamp": eventTimeStamp});
        //var params=JSON.stringify({"traceUUID": eventObject['cpee:uuid'], "name": eventObject['concept:name'], "sensor": sensorArrayElement, "data": dataForDrawing[0]});
        //var params=JSON.stringify({"sensor": sensorArrayElement, "data": JSON.stringify(JSON.parse(dataForDrawing))});
        


        var Socket = "MozWebSocket" in window ? MozWebSocket : WebSocket;

        var ws = null;
        var webSocketContained = false;
        webSockets.forEach(function(webSocket) {
          console.log(webSocket.url);
          if(webSocket.url === sensorArrayElement['sensor']['extractor_url']) {
            webSocketContained = true;
            ws = webSocket;
          }
        });

        if(!webSocketContained) {

          toSendList[sensorArrayElement['sensor']['extractor_url']]=[];
          toSendList[sensorArrayElement['sensor']['extractor_url']].push(params);

          //var ws = new Socket("ws://localhost:12345/extractDataSingle");
          ws = new Socket(sensorArrayElement['sensor']['extractor_url']);

          

          ws.onopen = function() {
            //console.log("onopen");
            //ws.send(params);
            console.log("tosendlist", (toSendList[sensorArrayElement['sensor']['extractor_url']]));
            toSendList[sensorArrayElement['sensor']['extractor_url']].forEach(function(p) {
              console.log("ws liste abarbeiten");
              console.log("state", ws.readyState);
              ws.send(p);
              console.log("state", ws.readyState);
            });
          };

          ws.onmessage = function(e) {
          //{{{


            //console.log("onmessage: " + e.data);
            console.log("onmessage extracting");
            requestResponse = JSON.parse(e.data);
            //ws.close();
            
            //console.log("graphDataBefore", JSON.stringify(graphData));
            requestResponseArrayElement = requestResponse;
            //console.log("resp", requestResponseArrayElement);
             
              //add all values at once
              if(requestResponseArrayElement.values.length!==0) {
                if(!dataPoints.includes(requestResponseArrayElement.name)) {
                  dataPoints.push(requestResponseArrayElement.name);
                  dataPointsLastDrawnIndex.push(-1);
                  graphData[requestResponseArrayElement.name]=[requestResponseArrayElement.name];
                  graphData[`${requestResponseArrayElement.name}_x`]=[`${requestResponseArrayElement.name}_x`];
    //draw graph or make sure it is drawn later - drawn later
                }
                graphData[requestResponseArrayElement.name]=graphData[requestResponseArrayElement.name].concat(requestResponseArrayElement.values);
                if(requestResponseArrayElement.values.length==requestResponseArrayElement.timestamps.length) {
                  graphData[`${requestResponseArrayElement.name}_x`]=graphData[`${requestResponseArrayElement.name}_x`].concat(requestResponseArrayElement.timestamps);
                }
                else if(requestResponseArrayElement.timestamps.length==1) {
                  var timestamps=[];
                  for(var i=0;i<requestResponseArrayElement.values.length;++i) {
                    timestamps.push(requestResponseArrayElement.timestamps[0]);
                  }
                  graphData[`${requestResponseArrayElement.name}_x`]=graphData[`${requestResponseArrayElement.name}_x`].concat(timestamps);
                }
                else {
                  var timestamps=[];
                  for(var i=0;i<requestResponseArrayElement.values.length;++i) {
                    timestamps.push(eventTimeStamp);
                  }
                  graphData[`${requestResponseArrayElement.name}_x`]=graphData[`${requestResponseArrayElement.name}_x`].concat(timestamps);
    //ist noch falsch!!! - nicht nur ende wegschneiden sondern irgendwie umwandeln???
                }
              }
        
     
              //add each value seperately {{{
              /*requestResponseArrayElement.values.forEach(function(value, index) {
      
                if(!dataPoints.includes(requestResponseArrayElement.name)) {
                  dataPoints.push(requestResponseArrayElement.name);
                  dataPointsLastDrawnIndex.push(-1);
                  graphData[requestResponseArrayElement.name]=[requestResponseArrayElement.name];
                  graphData[`${requestResponseArrayElement.name}_x`]=[`${requestResponseArrayElement.name}_x`];
    //draw graph or make sure it is drawn later - drawn later
                }
                graphData[requestResponseArrayElement.name].push(value);
                if(requestResponseArrayElement.values.length==requestResponseArrayElement.timestamps.length) {
                  graphData[`${requestResponseArrayElement.name}_x`].push(requestResponseArrayElement.timestamps[index]);
                }
                else if(requestResponseArrayElement.timestamps.length==1) {
                  graphData[`${requestResponseArrayElement.name}_x`].push(requestResponseArrayElement.timestamps[0]);
                }
                else {
                  graphData[`${requestResponseArrayElement.name}_x`].push(eventTimeStamp);
    //ist noch falsch!!! - nicht nur ende wegschneiden sondern irgendwie umwandeln???
                }
        
              });*/
              // }}}

            //console.log("graphDataAfter", JSON.stringify(graphData));

            console.log("readyForDrawing", JSON.stringify(graphData));
            dataPoints.forEach(function(dataPointName, dataPointIndex) {
              console.log("lastDrawnIndexOf",dataPointName,", ",dataPointsLastDrawnIndex[dataPointIndex]);
              if(dataPointsLastDrawnIndex[dataPointIndex]===-1) {
                sendData={};
                sendData['task']="createChart";
                sendData['dataPoints_x']=[graphData[`${dataPointName}_x`][0]];
                sendData['dataPoints']=[graphData[dataPointName][0]];
                if(dataPointIndex%2==0) {
                  //d3.select('#charts').append('iframe').attr('id', `iframe_${dataPointIndex}`).attr('src', "iframeLineChart.html").attr('class', 'chart left').attr('onload', `createChart('${JSON.stringify(sendData)}', 'iframe_${dataPointIndex}');`);
                  //d3.select('#charts').append('iframe').attr('id', `iframe_${dataPointIndex}`).attr('src', "iframeScatterPlot.html").attr('class', 'chart left').attr('onload', `createChart('${JSON.stringify(sendData)}', 'iframe_${dataPointIndex}');`);
                  d3.select('#charts').append('iframe').attr('id', `iframe_${dataPointIndex}`).attr('src', `${requestResponseArrayElement['sensor']['visualizer_url']}`).attr('class', 'chart left').attr('onload', `createChart('${JSON.stringify(sendData)}', 'iframe_${dataPointIndex}');`);
                  //d3.select('#charts').append('div').attr('id', `agg_${dataPointIndex}`).attr('class', 'chart left');
                  d3.select('#charts').append('div').attr('class', 'chart left').append('p').attr('id', `agg_${dataPointIndex}`).attr('class', 'textelement');
                  d3.select(d3.select(`#agg_${dataPointIndex}`).node().parentNode).insert('h4',':first-child').text(`aggregation - ${dataPointName}`);
                  //d3.select('#charts').append('div').attr('id', `vio_${dataPointIndex}`).attr('class', 'chart left');
                  d3.select('#charts').append('div').attr('class', 'chart left').append('p').attr('id', `vio_${dataPointIndex}`).attr('class', 'textelement');
                  d3.select(d3.select(`#vio_${dataPointIndex}`).node().parentNode).insert('h4',':first-child').text(`violation - ${dataPointName}`);
                }
                else {
                  //d3.select('#charts').append('iframe').attr('id', `iframe_${dataPointIndex}`).attr('src', "iframeScatterPlot.html").attr('class', 'chart right').attr('onload', `createChart('${JSON.stringify(sendData)}', 'iframe_${dataPointIndex}');`);
                  d3.select('#charts').append('iframe').attr('id', `iframe_${dataPointIndex}`).attr('src', `${requestResponseArrayElement['sensor']['visualizer_url']}`).attr('class', 'chart right').attr('onload', `createChart('${JSON.stringify(sendData)}', 'iframe_${dataPointIndex}');`);
                  //d3.select('#charts').append('div').attr('id', `agg_${dataPointIndex}`).attr('class', 'chart right');
                  d3.select('#charts').append('div').attr('class', 'chart right').append('p').attr('id', `agg_${dataPointIndex}`).attr('class', 'textelement');
                  d3.select(d3.select(`#agg_${dataPointIndex}`).node().parentNode).insert('h4',':first-child').text(`aggregation - ${dataPointName}`);
                  //d3.select('#charts').append('div').attr('id', `vio_${dataPointIndex}`).attr('class', 'chart right');
                  d3.select('#charts').append('div').attr('class', 'chart right').append('p').attr('id', `vio_${dataPointIndex}`).attr('class', 'textelement');
                  d3.select(d3.select(`#vio_${dataPointIndex}`).node().parentNode).insert('h4',':first-child').text(`violation - ${dataPointName}`);
                }

                dataPointsLastDrawnIndex[dataPointIndex]=0;
              }
              //else {
                if(dataPointsLastDrawnIndex[dataPointIndex]!=graphData[dataPoints[dataPointIndex]].length-1) {
                  sendData={};
                  sendData['task']="updateChart";
                  sendData['dataPoints_x']=[graphData[`${dataPointName}_x`][0]].concat(graphData[`${dataPointName}_x`].slice(dataPointsLastDrawnIndex[dataPointIndex]+1));
                  sendData['dataPoints']=[graphData[dataPointName][0]].concat(graphData[dataPointName].slice(dataPointsLastDrawnIndex[dataPointIndex]+1));

                  if(document.getElementById(`iframe_${dataPointIndex}`).contentWindow.document.readyState === 'complete' && document.getElementById(`iframe_${dataPointIndex}`).contentWindow.location.href !== "about:blank") {
                    document.getElementById(`iframe_${dataPointIndex}`).contentWindow.postMessage(sendData,'https://centurio.work');
	          }
                  else {
	            d3.select(`#iframe_${dataPointIndex}`).attr('onload', `${d3.select(`#iframe_${dataPointIndex}`).attr('onload')} updateChart('${JSON.stringify(sendData)}', 'iframe_${dataPointIndex}');`);
                  }

                  dataPointsLastDrawnIndex[dataPointIndex]=graphData[dataPoints[dataPointIndex]].length-1;
                //}
                /*else {
                  //do nothing - chart already at latest version
                }*/
              }
            });
          //}}}
            console.log("concept:name__",eventObject['concept:name']);
            //if(eventObject['concept:name']==="Fetch") {
            aggregators=typeof lastAggregators!=='undefined' && lastAggregators!==null ? lastAggregators : [];
            console.log("aggregators", aggregators);
            if(false) {
              aggregators=[
                {"aggregator": {"name":"aaLoad_X", "aggregator_url":"ws://localhost:12345/aggregateDataAvg"}},
                {"aggregator": {"name":"aaLoad_Y", "aggregator_url":"ws://localhost:12345/aggregateDataMax"}},
                //{"aggregator": {"name":"value", "aggregator_url":"ws://localhost:12345/aggregateDataAvg"}},
                //{"aggregator": {"name":"value2", "aggregator_url":"ws://localhost:12345/aggregateDataMin"}},
                //{"aggregator": {"name":"valueWithExceptions", "aggregator_url":"ws://localhost:12345/aggregateData"}},

                {"aggregator": {"name":"Keyence Measurement", "aggregator_url":"ws://localhost:12345/aggregateData"}},
                //{"aggregator": {"name":"Keyence Measurement", "aggregator_url":"ws://localhost:12345/aggregateDataWeightedAvg"}},
                //{"aggregator": {"name":"Keyence Measurement", "aggregator_url":"ws://localhost:12345/aggregateDataTimeSlotMinMax"}},
                //{"aggregator": {"name":"Keyence Measurement", "aggregator_url":"ws://localhost:12345/aggregateDataAll"}},
                //{"aggregator": {"name":"Keyence Measurement", "aggregator_url":"ws://localhost:12345/aggregateDataMin"}},
/*
                {"aggregator": {"name":"Keyence Measurement 1", "aggregator_url":"ws://localhost:12345/aggregateDataTimeSlotMinMaxAvg", "aggregator_arg":"{\"startFrom\":0, \"endAt\":1500}"}},
                {"aggregator": {"name":"Keyence Measurement 2", "aggregator_url":"ws://localhost:12345/aggregateDataTimeSlotMinMaxAvg", "aggregator_arg":"{\"startFrom\":1600, \"endAt\":3200}"}},
                {"aggregator": {"name":"Keyence Measurement 3", "aggregator_url":"ws://localhost:12345/aggregateDataTimeSlotMinMaxAvg", "aggregator_arg":"{\"startFrom\":3300, \"endAt\":4800}"}},
                {"aggregator": {"name":"Keyence Measurement 4", "aggregator_url":"ws://localhost:12345/aggregateDataTimeSlotAll", "aggregator_arg":"{\"startFrom\":5200, \"endAt\":9600}"}},
                {"aggregator": {"name":"Keyence Measurement 4_1", "aggregator_url":"ws://localhost:12345/aggregateDataTimeSlotMinMaxAvg", "aggregator_arg":"{\"startFrom\":5200, \"endAt\":9600}"}},
*/
              ];
              lastAggregators=aggregators;
            }
            else {
            }
            aggregators.forEach(function(aggregatorArrayElement) {
              var inSensors = false;
              var i=0;
              while(i<eventsensors.length && !inSensors) {
                if(aggregatorArrayElement['aggregator']['name']===eventsensors[i]['sensor']['name']) {
                  inSensors = true;
                }
                i++;
              }
              //alert(dataPoints.indexOf(aggregatorArrayElement['aggregator']['name']));
              console.log("aggregator prepares aggregation", inSensors, dataPoints.includes(aggregatorArrayElement['aggregator']['name']));
              if(requestResponseArrayElement['name'] === aggregatorArrayElement['aggregator']['name'] && inSensors && dataPoints.includes(aggregatorArrayElement['aggregator']['name'])) {
                console.log("aggregator nearly in process of aggregation");
                var params=JSON.stringify({"name": aggregatorArrayElement['aggregator']['name'],"data": graphData[aggregatorArrayElement['aggregator']['name']],"timestamps": graphData[`${aggregatorArrayElement['aggregator']['name']}_x`], "aggregator": aggregatorArrayElement});

                
                var wsAggregate = null;
                var webSocketContained = false;
                webSockets.forEach(function(webSocket) {
                  console.log(webSocket.url);
                  if(webSocket.url === aggregatorArrayElement['aggregator']['aggregator_url']) {
                    webSocketContained = true;
                    wsAggregate = webSocket;
                  }
                });

                if(!webSocketContained) {
                  toSendList[aggregatorArrayElement['aggregator']['aggregator_url']]=[];
                  toSendList[aggregatorArrayElement['aggregator']['aggregator_url']].push(params);
                  wsAggregate = new Socket(aggregatorArrayElement['aggregator']['aggregator_url']);
                  wsAggregate.onopen = function() {
                    console.log("onopen aggregate");
                    //wsAggregate.send(params);
                    toSendList[aggregatorArrayElement['aggregator']['aggregator_url']].forEach(function(params) {
                      wsAggregate.send(params);
                    });
                  };
                  wsAggregate.onmessage = function(e) {  //{{{
                    console.log(e.data);
                    //alert(e.data);
                    //d3.select(`#agg_${dataPoints.indexOf(aggregatorArrayElement['aggregator']['name'])}`).text(`${d3.select(`#agg_${dataPoints.indexOf(aggregatorArrayElement['aggregator']['name'])}`).text()}${e.data}`);
                    //d3.select(`#agg_${dataPoints.indexOf(JSON.parse(e.data)['name'])}`).text(`${d3.select(`#agg_${dataPoints.indexOf(aggregatorArrayElement['aggregator']['name'])}`).text()}${e.data}`);
                    //d3.select(`#agg_${dataPoints.indexOf(aggregatorArrayElement['aggregator']['name'])}`).text(`${e.data}`);
                    d3.select(`#agg_${dataPoints.indexOf(JSON.parse(e.data)['name'])}`).text(`${e.data}`);
      
                    costs=typeof lastCosts!=='undefined' && lastCosts!==null ? lastCosts : [];
                    console.log("costs", costs);
                    if(false) {
                      costs=[
                        {"cost_factor": {"name":"aaLoad_X","target": "{\"avg\":13.588066239316234,\"max\":37.73,\"min\":4.53,\"elements\":936}", "vfunc_url":"ws://localhost:12345/violationOfDataAvg"}},
                        {"cost_factor": {"name":"aaLoad_Y","target": "{\"avg\":13.588066239316234,\"max\":37.73,\"min\":4.53,\"elements\":936}", "vfunc_url":"ws://localhost:12345/violationOfDataMax"}},
                        //{"cost_factor": {"name":"valueWithExceptions","target": "{\"avg\":13.588066239316234,\"max\":37.73,\"min\":4.53,\"elements\":936}", "vfunc_url":"ws://localhost:12345/violationOfData"}},
                        //{"cost_factor": {"name":"value","target": "{\"avg\":5.5,\"max\":10,\"min\":0}", "vfunc_url":"ws://localhost:12345/violationOfDataAvg"}},
                        //{"cost_factor": {"name":"value2","target": "{\"avg\":5.5,\"max\":10,\"min\":0}", "vfunc_url":"ws://localhost:12345/violationOfDataMin"}},
                        //{"cost_factor": {"name":"⌀ 4.500 (+0.028, +0.040)","target": "{\"avg\":13.588066239316234,\"max\":37.73,\"min\":4.53,\"elements\":936}", "vfunc_url":"ws://localhost:12345/violationOfData"}},
                        //{"cost_factor": {"name":"Keyence Measurement","target": "{\"avg\":13.588066239316234,\"max\":37.73,\"min\":4.53,\"elements\":936}", "vfunc_url":"ws://localhost:12345/violationOfData"}},
                        {"cost_factor": {"name":"Keyence Measurement","target": "{\"avg\":12.588066239316234,\"max\":37.73,\"min\":4.53,\"elements\":936}", "vfunc_url":"ws://localhost:12345/violationOfData"}}
                        //{"cost_factor": {"name":"Keyence Measurement","target": "{\"avg\":12.588066239316234,\"max\":37.73,\"min\":4.53,\"elements\":936}", "vfunc_url":"ws://localhost:12345/violationOfDataMin"}}
                      ];
                      lastCosts=costs;
                    }
                    else {
                    }
      
                    costs.forEach(function(costArrayElement) {
                      //alert(dataPoints.indexOf(costArrayElement['cost_factor']['name']));
                      var inAggregators = false;
                      var i=0;
                      while(i<lastAggregators.length && !inAggregators) {
                        if(costArrayElement['cost_factor']['name']==lastAggregators[i]['aggregator']['name']) {
                          inAggregators = true;
                        }
                        i++;
                      }
                      if(JSON.parse(e.data)['name'] === costArrayElement['cost_factor']['name'] && inAggregators && dataPoints.includes(costArrayElement['cost_factor']['name'])) {
      
                        var wsViolation = null;
                        var webSocketContained = false;
                        webSockets.forEach(function(webSocket) {
                          console.log(webSocket.url);
                          if(webSocket.url === costArrayElement['cost_factor']['vfunc_url']) {
                            webSocketContained = true;
                            wsViolation = webSocket;
                          }
                        });
      
                        var params=JSON.stringify({"name": costArrayElement['cost_factor']['name'],"target": costArrayElement['cost_factor']['target'], "actual": e.data});
      
                        if(!webSocketContained) {
                          toSendList[costArrayElement['cost_factor']['vfunc_url']]=[];
                          toSendList[costArrayElement['cost_factor']['vfunc_url']].push(params);
                          wsViolation = new Socket(costArrayElement['cost_factor']['vfunc_url']);
                          wsViolation.onopen = function() {
                            console.log("onopen violation");
                            //wsViolation.send(params);
                            toSendList[costArrayElement['cost_factor']['vfunc_url']].forEach(function(params) {
                              wsViolation.send(params);
                            });
                          };
                          wsViolation.onmessage = function(e) {
                            console.log(e.data);
                            //alert(e.data);
                            //d3.select(`#vio_${dataPoints.indexOf(costArrayElement['cost_factor']['name'])}`).text(`${d3.select(`#vio_${dataPoints.indexOf(costArrayElement['cost_factor']['name'])}`).text()}${e.data}`);
                            //d3.select(`#vio_${dataPoints.indexOf(JSON.parse(e.data)['name'])}`).text(`${d3.select(`#vio_${dataPoints.indexOf(costArrayElement['cost_factor']['name'])}`).text()}${e.data}`);
                            //d3.select(`#vio_${dataPoints.indexOf(costArrayElement['cost_factor']['name'])}`).text(`${e.data}`);
                            d3.select(`#vio_${dataPoints.indexOf(JSON.parse(e.data)['name'])}`).text(`${e.data}`);
                            //document.getElementById(`#agg_${dataPoints.indexOf(costArrayElement['cost_factor']['name'])}`).innerHTML+=e.data;
                            //wsViolation.close();
                            //this.close();
                          };
                          wsViolation.onclose = function() {
                            console.log("onclose violation");
                          };
                          webSockets.push(wsViolation);
                        }
                        else {
                          console.log("requested web socket already contained");
                          console.log(wsViolation.url);
                          console.log(wsViolation.readyState);
                          if(wsViolation.readyState===0) {
                            console.log("in liste schreiben");
                            console.log("output", toSendList[costArrayElement['cost_factor']['vfunc_url']])
                            /*if(toSendList[costArrayElement['cost_factor']['vfunc_url']] === undefined) {
                              toSendList[costArrayElement['cost_factor']['vfunc_url']]=[];
                            }*/
                            toSendList[costArrayElement['cost_factor']['vfunc_url']].push(params);
                          }
                          else {
                            console.log("senden");
                            wsViolation.send(params);
                          }
                        }
      
      
                      }
                    });
                    //wsAggregate.close();
                    //this.close();
                  };  //}}}
                  wsAggregate.onclose = function() {
                    console.log("onclose aggregate");
                  };
                  webSockets.push(wsAggregate);
                }
                else {
                  console.log("requested web socket already contained");
                  console.log(wsAggregate.url);
                  console.log(wsAggregate.readyState);
                  if(wsAggregate.readyState===0) {
                    console.log("in liste schreiben");
                    console.log("output", toSendList[aggregatorArrayElement['aggregator']['aggregator_url']])
                    /*if(toSendList[aggregatorArrayElement['aggregator']['aggregator_url']] === undefined) {
                      toSendList[aggregatorArrayElement['aggregator']['aggregator_url']]=[];
                    }*/
                    toSendList[aggregatorArrayElement['aggregator']['aggregator_url']].push(params);
                  }
                  else {
                    console.log("senden");
                    wsAggregate.send(params);
                  }
               }



              }
            });
          };
          ws.onclose = function() {
            console.log("onclose");

          };
          webSockets.push(ws);

        }

        else {
          console.log("requested web socket already contained");
          console.log(ws.url);
          console.log(ws.readyState);
          if(ws.readyState===0) {
            console.log("in liste schreiben");
            console.log("output", toSendList[sensorArrayElement['sensor']['extractor_url']])
            /*if(toSendList[sensorArrayElement['sensor']['extractor_url']] === undefined) {
              toSendList[sensorArrayElement['sensor']['extractor_url']]=[];
            }*/
            toSendList[sensorArrayElement['sensor']['extractor_url']].push(params);
          }
          else {
            console.log("senden");
            ws.send(params);
          }
        }

      
      });
    }
    //end of if

    var uuid=eventObject['cpee:uuid'];
    if(uuid==undefined) {
      uuid=eventObject['cpee:instance'];
    }
    d3.select('#traces').append('div').attr('class', 'event').text(`${uuid} - ${eventObject['id:id']} - ${eventObject['concept:name']} - ${eventObject['cpee:lifecycle:transition']}`);
  }
  //end of sse onmessage!!!
}


function showTraces() {
  console.log('adding live option');
  d3.select('#menu').append('div').text(`live`).attr('class', 'menuitem').on('click', function() {
    clearCharts();
    clearTraces();
	  drawDataPoints('live', [], [], [], {});
  });
  //$.getJSON('http://localhost:4567/tracesWithoutEventListWithHierarchy', function(traceArray) {
  $.getJSON('https://centurio.work/dash/traces', function(traceArray) {
  //$.getJSON('http://localhost/dash/traces', function(traceArray) {
    console.log(traceArray);
    traceArray.forEach(function(trace) {
      console.log(trace);
      //d3.select('#menu').append('div').text(`${trace.name} - ${trace.uuid} - ${trace.id}`).attr('class', 'menuitem').on('click', function() {
      d3.select('#menu').append('div').text(`${trace}`).attr('class', 'menuitem').on('click', function() {
        clearCharts();
        clearTraces();
        drawDataPoints(trace, [], [], [], []);
      });
    });
  });
}

function pushUp(array, level) {
  array[level+1]=[];
  toDeleteArray=[];
  //console.log(level);
  //console.log(array);
  array[level].forEach(function(element, index) {
    for (element2 of array[level]) {
      if(element2.subtraces.includes(element.uuid)) {
        array[level+1].push(element);
        toDeleteArray.unshift(index);
        break;
      }
    }
  });
  //console.log(toDeleteArray);
  toDeleteArray.forEach(function(toDeleteIndex) {
    array[level].splice(toDeleteIndex,1);
  });
  //console.log(array);
  if(array[level+1].length==0) {
    array.pop();
    return;
  }
  else {
    pushUp(array,level+1);
  }
}

function addTrace(array, traceUuid, level) {
  for (element of array[level]) {
    if(element.uuid==traceUuid) {
      var trace=element;
      break;
    }
  }
  d3.select('#menu').append('div').text(`${trace.name} - ${trace.uuid} - ${trace.id}`).attr('class', `menuitem level${level}`).on('click', function() {
    clearCharts();
    clearTraces();
    drawDataPoints(trace.uuid, [], [], [], []);
  });
  trace.subtraces.forEach(function(subtrace) {
    addTrace(array, subtrace, level+1);
  });
}

function showTracesHierarchical() {
  console.log('adding live option');
  d3.select('#menu').append('div').text(`live`).attr('class', 'menuitem level0').on('click', function() {
    clearCharts();
    clearTraces();
	  drawDataPoints('live', [], [], [], {});
  });
  //$.getJSON('http://localhost:4567/tracesWithoutEventListWithHierarchy', function(traceArray) {
  //$.getJSON('http://localhost/dash/tracesWithoutEventListWithHierarchy', function(traceArray) {
  $.getJSON('https://centurio.work/dash/tracesWithoutEventListWithHierarchy', function(traceArray) {
    console.log(traceArray);
    var leveledTraceArray=[];
    leveledTraceArray[0]=traceArray;
    pushUp(leveledTraceArray, 0);
    console.log(leveledTraceArray);
    leveledTraceArray[0].forEach(function(trace) {
      addTrace(leveledTraceArray, trace.uuid, 0);
    });
  });
}

</script>


<body>
  <div id="container">
    <div id="menu"></div>
    <div id="content">
      <div id="traces"></div>
      <div id="charts"></div>
    </div>
  <!--<button onclick="clearCharts();">Clear Charts!!!</button>-->
</body>





<script>
  //drawDataPoints("0c52cabc-aabc-4271-8bd9-3266a2939040");
  //showTraces();
  showTracesHierarchical();
</script>


</html>
